/*baitap1*/
.main-img {
    width: 1200px;
    height: 400px;
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 0px 30px 0px;
}
.anhchinh {
    width: 800px;
    height: 400px;
    background-color: gray;

}
.khungtrucchinh {
    width: 300px;
    height: 400px;
}
.sub-img {
    width: 1200px;
    height: 800px;
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    justify-content: space-between;
}
.khunganh-me {
    width: 800px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.khunganh {
    width: 350px;
    height: 200px;
    background-color: white;
}
.anhphu {
    width: 350px;
    height: 200px;
    background-color: gray;
}
p,h1 { 
    color: black;
    Text-align: left;
}
p {
    
    font-size: 20px;
    
}
h1 {
    font-size: 40px;
   
}
.sign {
    color: gray;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
/*baitap2*/
.parent div {
    background-color: red;
    border: 1px white double;
    color: white;
    height: 90px;
    font-size: 30px;
   }
.parent {
    background-color: white;
    display: flex;
    flex-flow: wrap;
    clear: left;
}

