* {
    margin: 0;
    padding: 0;
}
.container {
    width: 600px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
[class^="col-"] {
    display: flex;
    height: 40px;
    background-color: red;
    border: 1px solid #ffff;
    box-sizing: border-box;
}
.col-1 {
    width: calc((1/12)*100%);
}
.col-2 {   
    width: calc((2/12)*100%);
}
.hot-news h1 {
    color: red;
}
.news>h1 {
    color: green;
}
.new h1{
    
}