* {
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
}
.card {
    width: 180px;
    height: 220px;
    border: 1px solid #cccc;
    padding: 6px;
    position: absolute;
    transition: all ease-in-out 0.3s;
    background-color: white;
}
.card:hover {
    z-index: 2!important;
    transform: scale(1.5,1.5)!important;
}
.card.berlin {
    transform: rotate(-3deg);
    top: 0;
    left: 0;
    z-index: 1;
}
.wrapper img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}
.card.italy {
    transform: rotate(10deg);
    top: 20px;
    left: 120px;
    z-index: 2;
}
.card.london {
    transform: rotate(40deg);
    top: 112px;
    left: 153px;
    z-index: 3;
}
.card.usa {
    transform: rotate(-30deg);
    top: 140px;
    left: -80px;
    z-index: 4;
}
