/* a[target] {
    color: green;
}
a[target="_blank"] {
    color: red;
}
a:not([href]) {
    color: yellow;
}
a:not([href]):not([target]) {
    color: blue;
}
a:nth-child(2n+1) {
    color: rosybrown;
}
a:nth-child(odd) {

}

a:last-child {
    color: purple;
} */
a:nth-child(even) {
    color: saddlebrown;
}